<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap/css/bootstrap.min.css">
</head>
<body class="bg-secondary">
    <ul class="nav bg-dark text-white">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"></a>
  </li>
</ul>
<div class="row p-4">
    <div class="col-6">
        <form class="form-floating" action="/update/<%=updateNote.id%>" method="post">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 500px" name="text"><%=updateNote.text%></textarea>
  <label for="floatingTextarea2">Write Note</label>
            <div class="d-grid gap-2 mt-2">
                <button class="btn btn-warning">
                    Update Note
                </button>
            </div>
        </form>
    </div>
    <div class="col-6">
        <table class="table table-dark table-striped-columns">
  <thead>
    <tr>
      <th scope="col">index</th>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <%notes.forEach((element,index) => { %>
        <tr>
      <th scope="row"><%=index+1%></th>
      <td><a class="text-info" href="/view/<%=element.id%>"><%=element.text.slice(0,element.text.indexOf(' '))%></a></td>
      <td><%=element.date%></td>
      <td><button class="btn btn-danger"><a href="/delete/<%=element.id%>" class="text-white">Delete</a></button></td>
    </tr>
    <%}) %>
  </tbody>
</table>
    </div>
</div>
</body>
</html>